<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/main.css" />
    <script>
        window.onload = function () {
            const params = new URLSearchParams(window.location.search);
            fetch('/api/oauth', {
                credentials: 'include',
                method: 'POST',
                headers: {
                    'X-Code': params.get('code'),
                }
            })
                .then(async response => {
                    if (!response.ok) {
                        throw new Error('Request failed');
                    }
                    window.opener.postMessage('reload');
                    window.close()
                })
                .catch(_ => {
                    // Something went wrong here
                    document.getElementById('fatal-error').style.display = 'block';
                })

        }
    </script>
</head>
<body>

<div style="display: flex;justify-content: center;align-items: center;height: 100%;" id="data-loader" class="section">
    <div class="loader large inverse"></div>
</div>
<div id="fatal-error" class="toast error fixed" style='display:none'>Something went wrong (add a more useful message)</div>
</body>
</html>