# TODO: Add monitoring to stack
name: creative-tax-app
services:
  cors_proxy:
    image: "redocly/cors-anywhere"
    networks:
      - ct_network
    environment:
      - CORSANYWHERE_ALLOW_ALL=true
    restart: unless-stopped
  proxy:
    networks:
      - ct_network
    image: caddy:latest
    volumes:
      - ./caddy/config:/etc/caddy
      - ./caddy/data:/data
    ports:
      - "80:80"
      - "443:443"
    restart: unless-stopped
  pages:
    networks:
      - ct_network
    depends_on:
      - proxy
    volumes:
      - ./pages/static:/app/pages/static
      - ./pages/templates:/app/pages/templates
    build:
      context: .
      dockerfile: Dockerfile

      args:
        - BUILD_NAME=pages
        - SERVICE_PORT=80
    env_file:
      - local-secrets.env
    ports:
      - 80
  jira:
    networks:
      - ct_network
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - BUILD_NAME=jira
        - SERVICE_PORT=80
    env_file:
      - local-secrets.env
    depends_on:
      - proxy
networks:
  ct_network: