#reauth-required {
    text-align: center;
    padding: 10px;
    border-bottom: solid 1px #000;
}


p.subheading {
    font-size: 16px;
    color: var(--variant-font-color);
}

.wrapper {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 80px;
}
.section {
    width: 50%;
}

.cta {
    background-color: var(--accent-highlight);
    color: var(--base-font-color);

    height: 44px;
    padding: 0 16px 3px;

    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;

    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    border-radius: var(--cta-styles-radius);
    text-align: center;
    white-space: nowrap;
    border: none;
    outline: none;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: inline-flex;
}

.heading-2 {
    letter-spacing: -2px;
    font-size: 54px;
    line-height: 64px;
    font-family: var(--base-heading-font);
    color: var(--base-font-color);
    margin-bottom: 12px;
    padding-right: 24px;
    font-weight: 700;
}

.login {
    min-width: 376px;
}
/* change to .svg */
.logo {
    display: inline-flex;
    align-items: center;
    height: 44px;
}
.logo::after {
    content: "ZEND";
    font-size: 36px;
    font-family: var(--base-font-family);
    color: var(--base-font-color);
    text-transform: uppercase;
    font-weight: bolder;
}