/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* General Styles */
:root {
    /* CSS HEX */
    --raisin-black: #30292fff;
    --english-violet: #413f54ff;
    --ultra-violet: #5f5aa2ff;
    --yinmn-blue: #355691ff;
    --onyx: #3f4045ff;

    --honey-comb-yellow: #c19604;


    /* Tetradic (Double Complementary) */
    --brand-base: #355691ff;
    --accent-highlight:#5f5aa2ff;

    --base-font-color: #F8F8F8;
    --variant-font-color: #B9B9C9;
    --base-heading-font: "Lato", sans-serif;
    --base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

    /** CTA **/
    --cta-styles-radius: 12px;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--brand-base);
}

p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 27px;
    font-family: var(--base-heading-font);
    color: var(--base-font-color);
}

.heading {
    letter-spacing: -2px;
    font-size: 54px;
    line-height: 64px;
    font-family: var(--base-heading-font);
    color: var(--base-font-color);
    margin-bottom: 12px;
    padding-right: 24px;
    font-weight: 700;
}

.heading-2 {
    letter-spacing: -2px;
    font-size: 54px;
    line-height: 64px;
    font-family: var(--base-heading-font);
    color: var(--base-font-color);
    margin-bottom: 12px;
    padding-right: 24px;
    font-weight: 700;
}

.subheading {
    font-size: 16px;
    color: var(--variant-font-color);
}

.cta {
    background-color: var(--accent-highlight);
    color: var(--base-font-color);

    height: 44px;
    padding: 0 16px 3px;

    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;

    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    border-radius: var(--cta-styles-radius);
    text-align: center;
    white-space: nowrap;
    border: none;
    outline: none;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: inline-flex;
}

.cta.small {
    font-size: 14px;
    height: unset;
    padding: 12px 16px;
}

.cta-inverse {
    background: transparent;
    border: solid 1px var(--variant-font-color);
    padding: 4px 8px;
    text-align: center;
    color: var(--base-font-color);
    border-radius: var(--cta-styles-radius);
    font-weight: 700;
    text-transform: capitalize;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: inline-flex;
}
