<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.Title}}</title>
    <script>
        window.addEventListener('load', () => {
            if (isAuthed()) {
                document.getElementById("logout").style.display = "block";
                document.getElementById("authed").style.display = "block";
                document.getElementById("login").style.display = "none";
            }

            // Prevents FOUCs
            document.getElementById("auth-container").style.display = "block";
        });

        window.addEventListener('message', event => {
            if (event.data === 'reload') {
                window.location.reload();
            }
        });

        function logout() {
            localStorage.removeItem('authToken');
            window.location.reload();
        }
        async function triggerJira() {

            let params = `status=no,location=no,toolbar=no,menubar=no,
width=600,height=800,popup=yes`;
            window.open("{{.Message}}", '_blank', params);
        }

        function isAuthed() {
            const cookies = document.cookie.split(';');
            return cookies.filter(cookieStr => {
                const [key, val] = cookieStr.split('=');
                return key === 'oauth_token';
            }).length === 1;
        }

        // Check expiry - maybe
        // Figure out scope
    </script>
</head>
<body>

<div id="auth-container" style="display: none">
    <div id="authed" style="display: none">
        Logged in
    </div>

    <!-- Make sure state param is re-added/should be generated server-side and added as a browser param to track user session -->
    <button id="login" onclick="triggerJira()">Login with Jira</button>
    <button id="logout" style="display: none" onclick="logout()">Logout</button>
</div>
</body>
</html>