<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.Title}}</title>
    <script>
        function triggerJira(url) {
           const popup = window.open(url, '_blank', 'popup=true&height=500&width=300')
        }
        co
    </script>
</head>
<body>
<button onclick="triggerJira('https://auth.atlassian.com/authorize?audience=api.atlassian.com&client_id=dicytnnqUPWVio6UhlYCPRUCe07GILbY&scope=read%3Ame&redirect_uri=http%3A%2F%2Flocalhost%3A5000&response_type=code&prompt=consent')">Login with Jira</button>
OI asdasd asdasd asd
</body>
</html>